HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Project Specific Files ###
Dataset/english_songs.csv
Quadbeat/.gitattributes
Quadbeat/.gitignore
Quadbeat/.mvn/wrapper/maven-wrapper.properties
Quadbeat/mvnw.cmd
Quadbeat/pom.xml
Quadbeat/src/main/java/Quadbeat/QuadbeatApplication.java
Quadbeat/src/main/resources/application.properties
Quadbeat/src/test/java/com/example/Quadbeat/QuadbeatApplicationTests.java
